
<div class="aboutme-header">
    <div id="aboutme-header-img">
    <img id="aboutme-ios" src="images/ios-icon-vector-27.jpg.png" alt="ios-png">
    <div id="aboutme-header-text">
    <h1>iOS Developer</h1>
    <h3>Creative, Diligent, and Forward-thinking</h3>
    </div>
    </div>
</div>
<div id="aboutme-summary">
    <h1>{{title}}</h1>
    <!-- Mock summary from the link below-->
    <!-- https://andreygordeev.com -->
    <p>
        I am a freelance iOS developer, technical consultant, and open-source contributor. 
        I have a wealth of experience working with clients from around the world. 
        I offer my services as an iOS/Android developer for hire to work with businesses of all sizes including start-ups, creative agencies, designers, individuals and other freelancers &amp; developers.
    </p>
    <p>
        The work I provide is of the highest quality, fully responsive, and tested in a wide range of devices. 
        I take great care to ensure each project is well-architected, well-documented and easily maintainable so you can enhance an app as your company grows.
    </p>
    <p>
        I maintain a high code quality standard and use static code analyzer. 
        Writing code that is documented and easy to read means it can be maintained and scaled in the future and allows co-workers to quickly work with it.
    </p>
</div>
<div id="aboutme-technical-skills">
    <h1>Technical Skills</h1>
    <div class="aboutme-img-container-grid">
        <div class="aboutme-img-container-row">
            <div class="aboutme-img-container-column">
                <img src="images/swift.png" alt="swift">
            </div>
            <div class="aboutme-img-container-column">
                <img src="images/xcode-icon-7.png" alt="xcode">
            </div>
            <div class="aboutme-img-container-column">
                <img src="images/React-icon.png" alt="js">
            </div>
        </div>
        <div class="aboutme-img-container-row">
            <div class="aboutme-img-container-column">
                <img src="images/icon-github-23.png" alt="github">
            </div>
            <div class="aboutme-img-container-column">
                <img src="images/java.png" alt="java">
            </div>
            <div class="aboutme-img-container-column">
                <img src="images/js-512.png" alt="js">
            </div>
        </div>
    </div>
</div>

