<div class="contactme">
    <div class="contactme-container">
        {{!-- contact me header--}}
        <div class="contactme-header">
            <h1>{{title}}</h1>
        </div>
        {{!-- contact me form--}}
        <form class="contactme-form">
            <div class="name">
                <label for="name">Your name</label>
                <input type="text" id="name" name="name" placeholder="Let me know who you are">
            </div>
            <div class="email">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" placeholder="Where shoud I reply to?">
            </div>
            <div class="message">
                <label for="message">Message</label>
                <textarea type="textarea" id="message" name="message" rows="4" cols="50" placeholder="Ask me anything you want!"></textarea>
            </div>
            <div class="send">
                <input type="submit" id="send" name="send" value="Send">
            </div>
        </form>
    </div>
</div>
