<div class="home-body">
    <div class="home-header">
        <h1>{{title}}</h1>
        <h2>{{subtitle}}</h2>
    </div>
    <div class="home-traits-row">
        <div class="home-traits-column" id="creative">
            <h3>Creative</h3>
            <img src="images/creativity.png" alt="creative">
            {{!-- Mock paragraph from an article--}}
            {{!-- https://www.nottingham.ac.uk/english/documents/innervate/09-10/0910adamscreative.pdf --}}
            <p>His passion was surfing. 
                The constant chase. 
                The buzz you got from hunting a wave, 
                the rush when you found one. 
                It was invigorating. 
                His life was the ocean, 
                he was more at home in water than on land. 
            </p>
        </div>
        <div class="home-traits-column" id="diligent">
            <h3>Diligent</h3>
            <img src="images/1140961-200_37316.png" alt="diligent">
            <p>Shiny, smooth, slicing the water in two. 
                He panicked, wide-eyed, jerking limbs. 
                Concentrate Charlie, 
                but the board buckled underneath as something hard hit it, 
                and he was slammed into his untamed wave.
            </p>
        </div>
        <div class="home-traits-column" id="forward-thinking">
            <h3>Forward-Thinking</h3>
            <img src="images/fast-forward-icon-png-11.png" alt="forward-thinking">
            <p>His confidence hid behind blurry grey and choking breath. 
                He&apos;d always been told that a man faced his fears.
                He shuddered as he looked into the black.
            </p>
        </div>
    </div>
</div>



