<div class="projects-body">
    <div class="projects-header">
        <h1>{{title}}</h1>
    </div>
    {{!-- All projects are mock apps from others. --}}
    <div class="projects-container">
        <div class="projects-container-grid">
            <div class="projects-container-row">
                <div class="projects-container-column">
                    <a href="https://www.nickkuh.com/project/teeth-app/"><img src="images/teeth.png" alt="teeh"></a>
                    <h3>teeth.app</h3>
                    <h6>React Native, Firebase - authentication, push notifications, Firestore database, hosting and cloud functions.</h6>
                </div>
                <div class="projects-container-column">
                    <a href="https://www.nickkuh.com/project/bp-passport/"><img src="images/bp-passport.png" alt="bp-passport"></a>
                    <h3>BP Passport</h3>
                    <h6>React Native, Redux, Redux Persist</h6>
                </div>
            </div>
            <div class="projects-container-row">
                <div class="projects-container-column">
                    <a href="https://www.nickkuh.com/project/orbzii/"><img src="images/orbzii.png" alt="orbzii"></a>
                    <h3>Orbzii</h3>
                    <h6>React Native, TypeScript</h6>
                </div>
                <div class="projects-container-column">
                    <a href="https://www.nickkuh.com/project/mute/"><img src="images/mute.png" alt="mute"></a>
                    <h3>Mute</h3>
                    <h6>iOS, Swift, Node.js, Mongoose</h6>
                </div>
            </div>
            <div class="projects-container-row">
                <div class="projects-container-column">
                    <a href="https://www.nickkuh.com/project/sworkit/"><img src="images/sworkit.png" alt="sworkit"></a>
                    <h3>Sworkit</h3>
                    <h6>Apple Watch, iOS, Swift</h6>
                </div>
                <div class="projects-container-column">
                    <a href="https://www.nickkuh.com/project/glued/"><img src="images/glued.png" alt="java"></a>
                    <h3>Glued</h3>
                    <h6>iOS, Swift, Android</h6>
                </div>
            </div>
        </div>
    </div>
</div>
